<div class="dashboard-wrapper">
    <div class="dashboard-influence">      
        <div class="container-fluid dashboard-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Over All Attendance</h1>
                      
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="c-field u-mb-small">
                            <label class="c-field__label" for="StartDate">Start Date : &nbsp;</label>
                            <input class="c-input" type="date" [ngModel] ="InitialStartDate | date:'yyyy-MM-dd'" (ngModelChange)="InitialStartDate = $event"  id="Sdate"
                            name="Sdate"
                             placeholder="XYZ " required>
                        </div>
                    </div>
                     <div class="col-md-3">
                        <div class="c-field u-mb-small">
                            <label class="c-field__label" for="EndDate">End Date : &nbsp;</label>
                            <input class="c-input" type="date"  id="edate" [ngModel] ="InitialEndDate | date:'yyyy-MM-dd'" (ngModelChange)="InitialEndDate = $event"
                            name="edate"
                             placeholder="XYZ " required>
                        </div>
                    </div>
                     <div class="col-md-4">
                         <td>
                            <button id='filterbtn' type="button" (click)="filterByTime()" class="btn btn-success" ejs-button >Apply Filter</button>
                         </td>
                        
                        <td>
                         <button id='exportbtn' type="button" (click)="export()" class="btn btn-success" ejs-button >Export Excel</button>
                        </td>

                    </div>
                    <!-- <div class="col-md-4">
                    </div> -->
                </div>
                <!-- <div class="row">
                    <div class="col-md-8">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                               
                                <th scope="col">Name</th>
                                <th scope="col">Time</th>
                                <th scope="col">Status</th>
                           
                                <th scope="col"></th>
                                
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let  item of AttendanceData">
                              
                                <td>{{item.userData[0].fullName}}</td>
                                <td>{{ConverDate(item.locationList[0].time)}}</td>
                                <td>{{item.status}}</td>              
                               
                                <td><button type="button" (click)="searchLocation(item.locationList[0].latitude,item.locationList[0].longitude)" class="btn btn-primary">View Location</button></td>
                            </tr>                            
                            </tbody>
                        </table>                        
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th scope="col">Date</th>
                                    <th scope="col">Name</th>
                                    <!-- <th scope="col">Name</th> -->
                                    <th scope="col">Checkin Time</th>
                                    <th scope="col">Checkout Time</th>
                                    <th scope="col">Summary</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let i of DataToShow"> 
                                    <!-- <th scope="row">1</th> -->
                                    <td>{{ConverDate(i.checkinTime)}}</td>
                                    <td>{{i.name}}</td>
                                    <!-- <td>{{i.name}}</td> -->
                                    <td>{{ConvertTime(i.checkinTime)}}</td>    
                                    <td>{{ConvertTime(i.checkoutTime)}}</td>
                                    <td>{{i.summary}}</td> 

                                    <td><button type="button"  class="btn btn-primary" (click)="searchLocation(i.checkinLat,i.checkinLong)">Checkin Location</button></td>
                                    <td><button type="button" class="btn btn-success" (click)="searchLocation(i.checkoutLat,i.checkoutLong)">Checkout Location</button></td>
                                </tr>                            
                            </tbody>
                        </table>                        
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</div>